{% extends "base.html" %}
{% block main %}
    <div>
        <!-- image goes here -->
        <img src='/static/img/integration_image.png' alt='Image of integration into GitHub' class='img-thumbnail'></img>
    </div>
{% endblock %}

{% block sidebar %}
    <p class="lead">Possible integration with GitHub</p>
    <p>
        This image is an idea of how the {{ tool_name }} could fit directly into a GitHub workflow.
        With integration into the GitHub account, the user would only have to type the same GitHub
        Flavored Markdown as they do to automatically generate a link and the tool would take care of
        the rest.
    </p>
    <p>
        All you'd need to do is click the button ('Get suggestions') to let it know that you want some suggestions. Things
        like how many you want maximum, and how big a time window, could be set in your user profile 
        and forgotten until you wanted to modify them.
    </p>
{% endblock %}
